<header class="top-menu">
    <nav>
        <a href="/">Home</a>
        <a href="/shows/">Browse Shows</a>
        <a href="/bands/">Bands</a>
        <a href="/years/">Years</a>
        <a href="/categories/">Categories</a>
        <a href="/about/">About</a>
    </nav>
</header>