---
pagination:
  data: allShowData.publicCompilationShows
  size: 1
  alias: compilation # This is the correct alias
permalink: "/compilations/{{ compilation.fileSlug }}/"
layout: templates/comp-show.njk
---