{% extends "base.njk" %}

{% block title %}
  {% if bands %}
    {{ bands | join(", ") }}
  {% else %}
    Show
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  {% if bands %}
    {{ bands | join(", ") }}
  {% else %}
    Unknown Band
  {% endif %}
</h1>

<p><strong>Date:</strong> {{ startDate.day }}.{{ startDate.month }}.{{ startDate.year }}</p>
<p><strong>Location:</strong> {{ location.city }}, {{ location.country }}</p>

{% if location.event %}
  <p><strong>Event:</strong> {{ location.event }}</p>
{% endif %}
{% endblock %}