/* src/styles/show.css */
.show-label-page {
  position: absolute;
  top: -15px;
  right: 13px;
  font-size: 8px;
  padding: 1px 6px;
  font-weight: bold;
  border-radius: 6px;
  color: #000;
  white-space: nowrap;
}

.label-show1-page {
  background-color: #42A5F5;
}

.label-show2-page {
  background-color: #42A5F5;
}

.trade-label-page {
  position: absolute;
  font-size: 11px;
  padding: 1px 6px;
  font-weight: bold;
  border-radius: 6px;
  color: #000;
  white-space: nowrap;
}

.red-page {
  top: -5px;
  left: 0px;
  background-color: #CD5C5C;
}

.blue-page {
  top: -5px;
  left: 0px;
  background-color: #42A5F5;
}

.master-page {
  top: -23px;
  left: 0px;
  background-color: #CE93D8;
  text-transform: uppercase;
}

.hdd-page {
  top: -5px;
  right: 0px;
  background-color: #E8A317;
  text-transform: uppercase;
}

/* For the main wrapper */
.media-wrapper-page {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: left;
}

.indent-block-size {
  margin-left: 35px;
}

.indent-block-video {
  margin-left: 45px;
}